@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500|Montserrat:300,400,800");
.chat-container {
  background: #f0f0f0;
  width: 100%; }
  .chat-container .chat-display {
    padding: 100px 0 40px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; }
    @media (max-width: 599px) {
      .chat-container .chat-display {
        padding-top: 90px; } }
    .chat-container .chat-display h1 {
      font-size: 48px;
      margin-bottom: 20px; }
    .chat-container .chat-display .chat-modal-container {
      position: fixed;
      height: 100vh;
      overflow: hidden;
      width: 100vw;
      z-index: 3;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: fade-in .2s ease-in-out 1 forwards; }

@keyframes fade-in {
  0% {
    background: rgba(0, 0, 0, 0); }
  100% {
    background: rgba(0, 0, 0, 0.466); } }
      .chat-container .chat-display .chat-modal-container .private-container {
        display: flex;
        max-width: 280px;
        height: 30px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 10px; }
        .chat-container .chat-display .chat-modal-container .private-container input {
          width: 30px;
          height: 30px; }
        .chat-container .chat-display .chat-modal-container .private-container .private-details {
          font-size: 12px; }
      .chat-container .chat-display .chat-modal-container .modal-background {
        position: absolute;
        height: 100vh;
        overflow: hidden;
        width: 100vw;
        top: 0;
        left: 0; }
      .chat-container .chat-display .chat-modal-container .chat-modal {
        height: 250px;
        position: fixed;
        max-width: 400px;
        width: 100%;
        background: #f0f0f0;
        animation: fly-in .33s ease-in-out 1 forwards;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        z-index: 6; }
        .chat-container .chat-display .chat-modal-container .chat-modal h2 {
          font-size: 28px;
          margin: 0 0 15px; }
        .chat-container .chat-display .chat-modal-container .chat-modal .room-type-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 15px; }
          .chat-container .chat-display .chat-modal-container .chat-modal .room-type-info input {
            width: 90%;
            margin-top: 5px;
            padding: 0 10px;
            font-size: 16px;
            height: 40px;
            border-radius: 25px;
            border: none;
            border-top: 1px solid #adadad;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466); }
          .chat-container .chat-display .chat-modal-container .chat-modal .room-type-info input:focus {
            outline: none; }
        .chat-container .chat-display .chat-modal-container .chat-modal .mybuttons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center; }
          .chat-container .chat-display .chat-modal-container .chat-modal .mybuttons button {
            height: 40px;
            width: 100px;
            border: none;
            border-radius: 25px;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466);
            font-size: 16px; }
          .chat-container .chat-display .chat-modal-container .chat-modal .mybuttons button:active {
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.466); }
        @media (max-width: 599px) {
          .chat-container .chat-display .chat-modal-container .chat-modal {
            max-width: 340px; } }

@keyframes fly-in {
  0% {
    transform: translate(0, 50vh) scale(0.2); }
  100% {
    transform: translate(0, 0) scale(1); } }
    .chat-container .chat-display .create-room {
      display: flex;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
      @media (max-width: 599px) {
        .chat-container .chat-display .create-room {
          max-width: 400px;
          justify-content: space-evenly; } }
      .chat-container .chat-display .create-room button {
        margin: 20px 0;
        height: 40px;
        width: 180px;
        min-width: 180px;
        font-size: 18px;
        border-radius: 19px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.466);
        transition: .2s;
        border: none;
        cursor: pointer; }
        @media (max-width: 599px) {
          .chat-container .chat-display .create-room button {
            font-size: 16px;
            width: 130px; } }
      .chat-container .chat-display .create-room button:hover {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466); }
      .chat-container .chat-display .create-room button:active {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.466); }
    .chat-container .chat-display .rooms {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 20px 0px; }
      @media (max-width: 599px) {
        .chat-container .chat-display .rooms {
          flex-direction: column;
          align-items: center; } }
      .chat-container .chat-display .rooms h2 {
        font-size: 22px; }
      .chat-container .chat-display .rooms .group {
        flex: 3;
        max-width: 640px; }
        .chat-container .chat-display .rooms .group .loader {
          width: 350px;
          height: 350px;
          margin: 0 auto;
          position: relative;
          img-width: 100%; }
          .chat-container .chat-display .rooms .group .loader p {
            position: absolute;
            top: 70%;
            margin: 0 auto;
            left: 0;
            right: 0; }
        .chat-container .chat-display .rooms .group .search:focus {
          outline: none; }
        .chat-container .chat-display .rooms .group .search {
          padding: 0 10px;
          font-size: 16px;
          width: 100%;
          height: 40px;
          border-radius: 25px;
          border: none;
          border-top: 1px solid #adadad;
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466); }
        @media (max-width: 599px) {
          .chat-container .chat-display .rooms .group {
            max-width: 440px;
            width: 85%; } }
      .chat-container .chat-display .rooms .random {
        flex: 2;
        max-width: 340px; }
        @media (max-width: 599px) {
          .chat-container .chat-display .rooms .random {
            max-width: 440px;
            width: 85%; } }
      .chat-container .chat-display .rooms .group, .chat-container .chat-display .rooms .random {
        margin: 20px 10px;
        background: white;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466);
        padding: 10px;
        max-height: 500px;
        overflow-y: scroll; }
        .chat-container .chat-display .rooms .group > * + *, .chat-container .chat-display .rooms .random > * + * {
          margin: 10px 0px; }
        .chat-container .chat-display .rooms .group .room-list:hover, .chat-container .chat-display .rooms .random .room-list:hover {
          background: #e1e1e1; }
        .chat-container .chat-display .rooms .group .room-list, .chat-container .chat-display .rooms .random .room-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 7.5px;
          background: whitesmoke;
          border-top: solid #d4d4d4 1px;
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466);
          border-radius: 2px; }
          .chat-container .chat-display .rooms .group .room-list > div:last-child, .chat-container .chat-display .rooms .random .room-list > div:last-child {
            width: 60px; }
            .chat-container .chat-display .rooms .group .room-list > div:last-child a, .chat-container .chat-display .rooms .random .room-list > div:last-child a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: red;
              text-decoration: none;
              border-radius: 20px;
              width: 50px;
              height: 20px;
              font-weight: 800; }

.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
  .roundedTwo label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; }
    .roundedTwo label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .roundedTwo label:hover::after {
      opacity: 0.3; }
  .roundedTwo input[type=checkbox] {
    visibility: hidden; }
    .roundedTwo input[type=checkbox]:checked + label:after {
      opacity: 1; }
