@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500|Montserrat:300,400,800");
.chat-container {
  background: #f0f0f0;
  width: 100%; }
  .chat-container .chat-display {
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 91vh;
    width: 100%; }
    @media (max-width: 599px) {
      .chat-container .chat-display {
        padding-top: 80px; } }
    .chat-container .chat-display h1 {
      font-size: 48px;
      margin-bottom: 20px; }
    .chat-container .chat-display .create-room {
      display: flex;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 599px) {
        .chat-container .chat-display .create-room {
          justify-content: space-evenly; } }
      .chat-container .chat-display .create-room button {
        margin: 20px 0;
        height: 40px;
        width: 180px;
        font-size: 18px;
        border-radius: 19px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.466);
        transition: .2s;
        border: none;
        cursor: pointer; }
        @media (max-width: 599px) {
          .chat-container .chat-display .create-room button {
            font-size: 16px;
            width: 150px; } }
      .chat-container .chat-display .create-room button:hover {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466); }
      .chat-container .chat-display .create-room button:active {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.466); }
    .chat-container .chat-display .rooms {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin: 20px 0px; }
      @media (max-width: 599px) {
        .chat-container .chat-display .rooms {
          flex-direction: column; } }
      .chat-container .chat-display .rooms h2 {
        font-size: 22px; }
      .chat-container .chat-display .rooms .group, .chat-container .chat-display .rooms .random {
        min-height: 400px;
        margin: 20px 0px;
        min-width: 300px;
        background: white;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466);
        padding: 10px; }
        .chat-container .chat-display .rooms .group > * + *, .chat-container .chat-display .rooms .random > * + * {
          margin: 10px 0px; }
        .chat-container .chat-display .rooms .group .room-list, .chat-container .chat-display .rooms .random .room-list {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 7.5px;
          background: whitesmoke;
          border-top: solid #d4d4d4 1px;
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.466);
          border-radius: 2px; }
          .chat-container .chat-display .rooms .group .room-list > div:last-child, .chat-container .chat-display .rooms .random .room-list > div:last-child {
            width: 60px; }
            .chat-container .chat-display .rooms .group .room-list > div:last-child a, .chat-container .chat-display .rooms .random .room-list > div:last-child a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: red;
              text-decoration: none;
              border-radius: 20px;
              width: 50px;
              height: 20px;
              font-weight: 800; }
