@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500|Montserrat:300,400,800");
.profile-display-container {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background: #f0f0f0;
  width: 100%;
  padding: 60px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .profile-display-container .custom-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 599px) {
      .profile-display-container .custom-banner {
        min-height: 250px; } }
    .profile-display-container .custom-banner .background-loader {
      position: absolute;
      top: 30px;
      right: 0px; }
    .profile-display-container .custom-banner .user-name {
      position: relative; }
    .profile-display-container .custom-banner .upload-form {
      color: white;
      position: absolute;
      right: 20px;
      background: #2f9aff;
      padding: 10px;
      top: 20px; }
      @media (max-width: 599px) {
        .profile-display-container .custom-banner .upload-form {
          font-size: 10px; } }
    .profile-display-container .custom-banner .custom-banner-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%; }
      .profile-display-container .custom-banner .custom-banner-image img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-width: 100%;
        width: 100%;
        min-height: 300px; }
        @media (max-width: 599px) {
          .profile-display-container .custom-banner .custom-banner-image img {
            min-height: 250px; } }
  .profile-display-container .profile-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .profile-display-container .profile-info .save-button, .profile-display-container .profile-info .edit-button {
      height: 40px;
      width: 150px;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 3px;
      cursor: pointer; }
    .profile-display-container .profile-info .save-button {
      background: #2fff39; }
    .profile-display-container .profile-info .edit-button {
      background: #2b2bff; }
    .profile-display-container .profile-info > div:first-child {
      font-weight: bolder; }
    .profile-display-container .profile-info .facebook, .profile-display-container .profile-info .instagram, .profile-display-container .profile-info .linkedin {
      display: flex; }
      .profile-display-container .profile-info .facebook #facebook, .profile-display-container .profile-info .facebook #instagram, .profile-display-container .profile-info .facebook #linkedin, .profile-display-container .profile-info .instagram #facebook, .profile-display-container .profile-info .instagram #instagram, .profile-display-container .profile-info .instagram #linkedin, .profile-display-container .profile-info .linkedin #facebook, .profile-display-container .profile-info .linkedin #instagram, .profile-display-container .profile-info .linkedin #linkedin {
        width: 100%;
        margin: 0 0px;
        border: 1px solid black;
        font-size: 16px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        border-top: rgba(0, 0, 0, 0.1) 1px solid;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        background: rgba(255, 0, 0, 0.026); }
      .profile-display-container .profile-info .facebook ::placeholder, .profile-display-container .profile-info .instagram ::placeholder, .profile-display-container .profile-info .linkedin ::placeholder {
        font-size: 22px; }
      .profile-display-container .profile-info .facebook #facebook:focus, .profile-display-container .profile-info .facebook #instagram:focus, .profile-display-container .profile-info .facebook #linkedin:focus, .profile-display-container .profile-info .instagram #facebook:focus, .profile-display-container .profile-info .instagram #instagram:focus, .profile-display-container .profile-info .instagram #linkedin:focus, .profile-display-container .profile-info .linkedin #facebook:focus, .profile-display-container .profile-info .linkedin #instagram:focus, .profile-display-container .profile-info .linkedin #linkedin:focus {
        outline: none; }
    .profile-display-container .profile-info .about-me, .profile-display-container .profile-info .facebook, .profile-display-container .profile-info .instagram, .profile-display-container .profile-info .linkedin {
      margin: 10px 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      font-weight: 500;
      font-size: 20px; }
      @media (max-width: 599px) {
        .profile-display-container .profile-info .about-me, .profile-display-container .profile-info .facebook, .profile-display-container .profile-info .instagram, .profile-display-container .profile-info .linkedin {
          font-size: 16px; } }
      .profile-display-container .profile-info .about-me textarea, .profile-display-container .profile-info .facebook textarea, .profile-display-container .profile-info .instagram textarea, .profile-display-container .profile-info .linkedin textarea {
        flex: 1;
        height: 100%;
        margin: 0 20px;
        border: 1px solid black;
        font-size: 16px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        border-top: rgba(0, 0, 0, 0.1) 1px solid;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        background: rgba(255, 0, 0, 0.026); }
      .profile-display-container .profile-info .about-me textarea:focus, .profile-display-container .profile-info .facebook textarea:focus, .profile-display-container .profile-info .instagram textarea:focus, .profile-display-container .profile-info .linkedin textarea:focus {
        outline: none; }
  @media (max-width: 599px) {
    .profile-display-container {
      padding-top: 60px; } }
  .profile-display-container .profile-image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px white;
    overflow: hidden;
    position: relative;
    animation: colorful 2s linear infinite forwards; }

@keyframes colorful {
  0% {
    border-top-color: rgba(0, 128, 0, 0.5);
    border-right-color: rgba(255, 255, 0, 0.5);
    border-bottom-color: rgba(0, 0, 255, 0.5);
    border-left-color: rgba(255, 0, 0, 0.5); }
  25% {
    border-top-color: rgba(255, 0, 0, 0.5);
    border-right-color: rgba(0, 128, 0, 0.5);
    border-bottom-color: rgba(255, 255, 0, 0.5);
    border-left-color: rgba(0, 0, 255, 0.5); }
  50% {
    border-top-color: rgba(0, 0, 255, 0.5);
    border-right-color: rgba(255, 0, 0, 0.5);
    border-bottom-color: rgba(0, 128, 0, 0.5);
    border-left-color: rgba(255, 255, 0, 0.5); }
  75% {
    border-top-color: rgba(255, 255, 0, 0.5);
    border-right-color: rgba(0, 0, 255, 0.5);
    border-bottom-color: rgba(255, 0, 0, 0.5);
    border-left-color: rgba(0, 128, 0, 0.5); }
  100% {
    border-top-color: rgba(0, 128, 0, 0.5);
    border-right-color: rgba(255, 255, 0, 0.5);
    border-bottom-color: rgba(0, 0, 255, 0.5);
    border-left-color: rgba(255, 0, 0, 0.5); } }
    .profile-display-container .profile-image-container img {
      width: 100%; }
  .profile-display-container h1 {
    font-size: 28px;
    color: white;
    margin: 10px; }
