@import '../styles/_shared.scss';

.profile-display-container {
    
    font-family: $font-stack;
    min-height: 100vh;
    background:$page-background;
    width: 100%;
    padding: 60px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .custom-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 300px;
        overflow: hidden;
        position: relative;

        @media (max-width:599px){
            min-height: 250px;
        }

        .background-loader{
            position: absolute;
            top: 30px;
            right: 0px;
        }

        .user-name {
            position: relative;
            
        }

        .upload-form {
            color: white;
            position: absolute;
            right: 20px;
            background: rgb(47, 154, 255);
            padding: 10px;
            top: 20px;

            @media (max-width:599px){
                font-size: 10px;
            }
        }

        .custom-banner-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                min-width: 100%;
                width: 100%;
                min-height: 300px;
                @media (max-width:599px){
                    min-height: 250px;
                }
            }
        }
    }

    .profile-info {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .save-button, .edit-button {
            height: 40px;
            width: 150px;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
        }

        .save-button{
            background: rgb(47, 255, 57);
        }
        .edit-button{
            background: rgb(43, 43, 255);
        }
        
        >div:first-child{
            font-weight: bolder;
        }

        .facebook, .instagram, .linkedin{
            
            display: flex;


            .facebook-label, .instagram-label,  .linkedin-label{
               

                
            }

            #facebook, #instagram, #linkedin {
                width: 100%;
                margin: 0 0px;
                border: 1px solid black;
                font-size: 16px;
                padding: 10px;
                border:none;
                border-radius: 3px;
                border-top:rgba(0,0,0,.1) 1px solid;
                box-shadow: 0px 4px 10px rgba(0,0,0,.2);
                background: rgba(255, 0, 0, 0.026);
                
                
            }

            ::placeholder {
                font-size: 22px;
            }

            #facebook:focus, #instagram:focus, #linkedin:focus {
                outline: none;
              }
        }

        .about-me, .facebook, .instagram, .linkedin{
            margin: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80px;
            font-weight: 500;
            font-size:20px;

            @media (max-width:599px) {
                font-size: 16px;
            }
            

            textarea {
                flex: 1;
                height:100%;
                margin: 0 20px;
                border: 1px solid black;
                font-size: 16px;
                padding: 10px;
                border:none;
                border-radius: 3px;
                border-top:rgba(0,0,0,.1) 1px solid;
                box-shadow: 0px 4px 10px rgba(0,0,0,.2);
                background: rgba(255, 0, 0, 0.026);
              }
              
              textarea:focus {
                outline: none;
              }
        }
    }

    @media (max-width:599px) {
        padding-top: 60px;
    }

    .profile-image-container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 2px white;
        overflow: hidden;
        position: relative;
        animation: colorful 2s linear infinite forwards;

        @keyframes colorful {
            0% {
                border-top-color: rgba(0, 128, 0, 0.5);
                border-right-color: rgba(255, 255, 0, 0.5);
                border-bottom-color: rgba(0, 0, 255, 0.5);
                border-left-color: rgba(255, 0, 0, 0.5);
              }
              25% {
                border-top-color: rgba(255, 0, 0, 0.5);
                border-right-color: rgba(0, 128, 0, 0.5);
                border-bottom-color: rgba(255, 255, 0, 0.5);
                border-left-color: rgba(0, 0, 255, 0.5);
              }
              50% {
                border-top-color: rgba(0, 0, 255, 0.5);
                border-right-color: rgba(255, 0, 0, 0.5);
                border-bottom-color: rgba(0, 128, 0, 0.5);
                border-left-color: rgba(255, 255, 0, 0.5);
              }
              75% {
                border-top-color: rgba(255, 255, 0, 0.5);
                border-right-color: rgba(0, 0, 255, 0.5);
                border-bottom-color: rgba(255, 0, 0, 0.5);
                border-left-color: rgba(0, 128, 0, 0.5);
              }
              100% {
                border-top-color: rgba(0, 128, 0, 0.5);
                border-right-color: rgba(255, 255, 0, 0.5);
                border-bottom-color: rgba(0, 0, 255, 0.5);
                border-left-color: rgba(255, 0, 0, 0.5);
              }
        }

        img {
            width: 100%;
        }
    }
    h1 {
        font-size: 28px;
        color: white;
        margin: 10px;
    }
}