@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500|Montserrat:300,400,800");
.profile-display-container {
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 599px) {
    .profile-display-container {
      padding-top: 75px; } }
  .profile-display-container .profile-image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; }
    .profile-display-container .profile-image-container img {
      width: 100%; }
