
.loading-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.login button {
   
    font-weight: 500;
    font-size: 16px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
  }

  .login button:focus {
      outline: none;
  }

  @media (max-width: 599px) {
    .login{
      position: absolute;
      right: 10px;
    }

    .login button {
      font-weight: 500;
      font-size: 12px;
      cursor: pointer;

    }
  }

  @media (max-width:340px){
    .login button {
    font-size: 10px;
    }
}