@import '../styles/_shared.scss';
.footer-container {
    background: rgb(180, 180, 180);
    color: white;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: $font-stack;
}

.footer-container > div:first-child {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    position: relative;
    max-width: 1000px;
    padding: 15px 0;


    h2 {
        font-size: 34px;
    }
}


