@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500|Montserrat:300,400,800");
.footer-container {
  background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.486)), url("../Home/media/car-background.svg");
  background-size: 110%;
  background-repeat: no-repeat;
  color: white;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif; }

.footer-content {
  position: relative;
  max-width: 1000px;
  padding: 15px 0; }
  .footer-content h2 {
    font-size: 34px; }
  .footer-content p {
    position: relative;
    top: -20px; }
