@import '../styles/_shared.scss';

.header-container {
    background: rgb(211, 211, 211);
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: $font-stack;
    z-index: 3;

    img {
        width:60px;
    }

    .inner-header-container {
        display: flex;
        flex-direction: row;
    }


    >div {
        height: 100%;
        width: 100%;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .links-container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    } 
}




.header-container{
    
    ul{
        position: relative;
        width:100px;
        display: flex;
        flex-direction: column;
        height: 30px;
        
        .link-1 {
            position: absolute;
            color: white;
            top: -5px;
            width: 100px;
            padding: 10px 20px;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }

    button {
        width: 100px;
        height: 36px;
        border: none;
        background: none;
        color: white;
        font-size: 16px;
    }
}