@import '../styles/_shared.scss';

.header-container {
    min-height: 70px;
    background: rgb(211, 211, 211);
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: $font-stack;
    z-index: 3;
    h1 {
        color: $lighter-text;
        font-size: 32px;
    }

    
}

