@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500");
.header-container {
  background: linear-gradient(rgba(100, 100, 100, 0.85), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0.65)), url("./media/wood.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Hind Siliguri", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
  z-index: 3; }
  @media (max-width: 599px) {
    .header-container {
      position: fixed;
      top: 0; } }
  .header-container img {
    width: 60px; }
    @media (max-width: 599px) {
      .header-container img {
        position: absolute;
        left: 0;
        top: 0; } }
  .header-container .inner-header-container {
    display: flex;
    flex-direction: row; }
  .header-container > div {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 599px) {
      .header-container > div {
        justify-content: center; } }
    .header-container > div .links-container-desktop {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 599px) {
        .header-container > div .links-container-desktop {
          display: none; } }
    .header-container > div .links-container-mobile {
      display: none; }
      @media (max-width: 599px) {
        .header-container > div .links-container-mobile {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center; } }

.links-container-desktop {
  display: flex;
  align-items: center;
  justify-content: center; }
  .links-container-desktop ul {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30px; }
    .links-container-desktop ul .link-1 {
      position: absolute;
      color: white;
      top: -5px;
      width: 100px;
      padding: 10px 20px; }
      .links-container-desktop ul .link-1 a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: .2s; }
      .links-container-desktop ul .link-1 a:hover {
        color: #bdbdbd; }
  .links-container-desktop button {
    width: 100px;
    height: 36px;
    border: none;
    background: none;
    color: white;
    font-size: 16px; }

.links-container-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s; }
  .links-container-mobile ul {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30px; }
    .links-container-mobile ul .link-1 {
      position: absolute;
      color: white;
      top: -5px;
      width: 100px;
      padding: 10px 20px;
      font-size: 20px; }
      .links-container-mobile ul .link-1 a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: .2s; }
      .links-container-mobile ul .link-1 a:hover {
        color: #bdbdbd; }
  .links-container-mobile button {
    width: 100px;
    height: 36px;
    border: none;
    background: none;
    color: white;
    font-size: 16px; }

.toggle {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  z-index: 6;
  height: 35px;
  background: none;
  width: 35px;
  color: white;
  border: none; }
  @media (min-width: 599px) {
    .toggle {
      display: none; } }
  .toggle :focus {
    outline: none; }
  .toggle .bar-open, .toggle .bar-closed {
    border-bottom: white 2px solid;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px 0px;
    transition: .3s;
    opacity: 1; }
  .toggle .bar-closed:nth-child(1) {
    transform: rotate(0deg); }
  .toggle .bar-closed:nth-child(2) {
    transform: rotate(0deg); }
  .toggle .bar-closed:nth-child(3) {
    transform: rotate(0deg); }
  .toggle .bar-open:nth-child(1) {
    transform: rotate(135deg) translate(5px, -6px); }
  .toggle .bar-open:nth-child(2) {
    opacity: 0; }
  .toggle .bar-open:nth-child(3) {
    transform: rotate(-135deg) translate(5px, 6px); }

.tall {
  height: 220px;
  margin-top: 40px;
  padding: 10px 0px;
  opacity: 1;
  transition: .40s; }

.short {
  height: 60px;
  opacity: 0;
  transform: translate(0px, -100px);
  transition: .40s; }
