@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500|Montserrat:300,400,800");
.home-container {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: #f0f0f0; }
  .home-container .home-display-container .banner {
    margin: 0 auto;
    height: 320px;
    max-height: 320px;
    overflow: hidden;
    position: relative;
    background: url("./media/banner.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.245); }
    @media (min-width: 1199px) {
      .home-container .home-display-container .banner {
        background-position-y: -100px;
        height: 380px;
        max-height: 380px; } }
    .home-container .home-display-container .banner h1 {
      color: #cccaca;
      font-size: 60px;
      text-shadow: .2px .2px 1px black; }
      @media (max-width: 599px) {
        .home-container .home-display-container .banner h1 {
          font-size: 46px; } }
    .home-container .home-display-container .banner h2 {
      color: #cccaca;
      font-size: 42px;
      text-shadow: .2px .2px 1px black; }
      @media (max-width: 599px) {
        .home-container .home-display-container .banner h2 {
          font-size: 30px; } }
  .home-container .home-display-container .explanation-icons {
    padding: 70px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto; }
    @media (max-width: 599px) {
      .home-container .home-display-container .explanation-icons {
        flex-direction: column;
        align-items: center; } }
    .home-container .home-display-container .explanation-icons > div {
      background: linear-gradient(rgba(220, 220, 220, 0.25), rgba(220, 220, 220, 0.85)), url("../Home/media/car-background.svg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 15px;
      border-radius: 2px;
      width: 225px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.678);
      font-weight: 300; }
      @media (max-width: 699px) {
        .home-container .home-display-container .explanation-icons > div {
          width: 190px; } }
      .home-container .home-display-container .explanation-icons > div h2 {
        font-size: 24px;
        margin: 0px 0 10px; }
      @media (max-width: 599px) {
        .home-container .home-display-container .explanation-icons > div {
          margin: 20px 0px;
          width: 250px; } }
    .home-container .home-display-container .explanation-icons .icon-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      min-width: 135px;
      min-height: 135px;
      border-radius: 50%;
      overflow: hidden;
      transition: .4s; }
      .home-container .home-display-container .explanation-icons .icon-container img {
        width: 100%; }

.explanation-icons > div:hover {
  animation: shake .5s linear 1 forwards; }

@keyframes shake {
  0% {
    transform: rotate(3deg); }
  20% {
    transform: rotate(-3deg); }
  40% {
    transform: rotate(3deg); }
  60% {
    transform: rotate(-3deg); }
  80% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(0deg); } }
