@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:500|Montserrat:300,400');

//Main text style
$font-stack: 'Montserrat', sans-serif;
$lighter-text: #525252;
$darker-text: #111111;
$page-background: rgb(240, 240, 240);


