@import '../styles/_shared.scss';

button:focus {
    outline: none;
    cursor: pointer;
}

.group-chatroom-container {
    margin-top: 70px;
    min-height: 90vh;
    min-width: 100vw;
    background: rgb(255, 255, 255);
}

.group-chatroom-container > div {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    overflow: hidden;

    .drawer-container{
        width: 0; 
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            border: none;
            position: absolute;
            top:2.7vh;
            left:2.5vw;
            font-size: 20px;
            z-index: 5;
        }
    }

    .users-list-container {

        height: 100%;
        overflow: scroll;
        background: green;
        padding: 10px;
        width: 100%;
        
        .download-convo-button {
            text-decoration: none;
            display: flex!important;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }

        .user-card {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            background:  rgb(250, 250, 250);
            border-radius: 3px;
            font-family: $font-stack;
            color: $darker-text;
            padding: 5px;

            div:nth-child(2){
                flex: 12;
            }

            div:last-child{
                flex: 1;
            }

            .online{
                max-height: 10px;
                max-width: 10px;
                background: green;
                border-radius: 50%;
            }

            div:first-child { 
                
                height: 25px;
                width: 25px;
                overflow: hidden;
                border-radius: 50%;
                
                img {
                    width: 100%;
                }
            }
        }
    }

    .messaging-container {
        position: relative;
        height: 100%;
        padding: 0px 20px 25px;
        overflow: scroll;
        background: rgb(245, 245, 245);
        width: 100%;
        @media (min-width:960px) {
            width: 800px / 1000px * 100%;
        }

        @media (max-width:600px) {
           
        }

        .spacer {
            height: 20px;
        }

        .messages {
            display: flex;
            flex-direction: column;
            font-family: $font-stack;
            justify-content: center;
            
            .individual-message-container:first-child {
                margin-bottom: 10px;
            }

            .individual-message-container {
                
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                min-height: 40px;
                max-width: 100%;
                animation: messagein .35s ease-in-out 1 forwards;

                @media (max-width:600px) {
                    justify-content: space-between;
                }
                

                @keyframes messagein {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }

                .user-image-container-for-messages{

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 50px;
                    min-width: 50px;
                    flex: 1;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow:0px 1px 5px #888888;

                    img {
                        width: 100%;                      
                    }
                }

                .message-name-date {

                    background:rgb(255, 226, 226);
                    border-radius: 10px;
                    width: 80%;
                    min-width: 250px;
                    position: relative;
                    padding: 8px 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    top:20px;
                    box-shadow:0px 1px 5px #888888be;


                    @media  (max-width:500px){
                        min-width: 150px;
                        max-width: 70%;
                    }

                    @media (min-width:1150px) {
                        width: 85%;
                    }

                    .corner {

                        position: absolute;
                        top: 0px;
                        left: -45px;
                        width: 40px;
                        background: transparent;
                        transform: rotate(180deg);
                        border-top: 26px solid transparent;
                        border-left: 40px solid rgb(255, 226, 226);
                        border-right: 20px solid transparent;
                        
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                    }

                    .name-date {
                        color: #888888;
                    }
                    

                    .message-text{
                        display: flex;
                        margin-bottom: 10px;
                        justify-content: flex-start;
                        align-items: flex-start;

                        p {
                            width: 100%;
                            word-wrap: break-word;
                        }
                    }
                }

                
            }

            
            
            .individual-message-container.myself  .message-name-date{
                background:rgb(215, 225, 255);
                order: 1;
                position: relative;

                .corner {
                    border-right: 40px solid rgb(215, 225, 255);
                    border-left: none;
                    position: absolute;
                    top: 0px;
                    left: initial;
                    right: -30px;
                    width: 40px;
                    transform: rotate(360deg) scale(-1, -1);
                    

                }

            }

            .individual-message-container.myself .user-image-container-for-messages {
                order: 2;
            }
        }

        .messages > *+* {
            margin: 15px 0px;
        }
        

        .message-input-container{
            
            position: fixed;
            bottom: 0;
            width: 800px / 1000px * 100%;
            right: 0;
            display: flex;
            
            

            @media (max-width:960px) {
                width: 100%;
                
            }

           

            
            
            input {
                flex: 9;
                height: 40px;
                font-size: 16px;
                border: none;
                background: rgb(211, 211, 211);
                padding-left: 5px;
            }

            input:focus {
                outline: none;
            }

            button {
                flex: 2;
                height: 40px;
                margin: 0;
                border: none;
                background: rgb(105,100,239);
                cursor: pointer;
                color: white;
                font-size: 16px;
            }

            button:hover {
                background: rgb(89, 85, 192);
            }

            button:focus {
                outline: none;
            }
        }
    }   
}



.MuiDrawer-paperAnchorDockedLeft-23{
    background: rgb(255, 255, 255)!important;
    
}

.MuiDrawer-paperAnchorLeft-19 {
    
    background: rgb(255, 255, 255)!important;
    width: 200px / 1000px * 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: scroll;
    padding: 70px 10px 10px;

    @media (max-width:959px) {
        min-width: 320px;
    }

    .close-save-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
   
    .download-convo-button {
            text-decoration: none;
            display: flex!important;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }

    .user-card {
        width: 100%;
        margin: 10px auto;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        background:  rgb(250, 250, 250);
        border-radius: 3px;
        font-family: $font-stack;
        color: $darker-text;
        padding: 5px;

        div:nth-child(2){
            flex: 12;
        }

        div:last-child{
            flex: 1;
        }

        .online{
            
            max-height: 10px;
            max-width: 10px;
            background: green;
            border-radius: 50%;
        }

        div:first-child { 
            
            height: 25px;
            width: 25px;
            overflow: hidden;
            border-radius: 50%;
            
            img {
                width: 100%;
            }
        }
    }
} 

