@import '../styles/_shared.scss';

button:focus {
    outline: none;
    cursor: pointer;
}

.group-chatroom-container {
    min-height: 93.2vh;
    min-width: 100%;
    background: rgb(30, 30, 30);
    height: 100%;
}

.group-chatroom-container > div {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    @media (max-width: 599px) {
        margin-top: 60px;
    }


    .drawer-container{
        width: 25%;
        height: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        @media (max-width: 599px) {
            position: fixed;
            margin-top: 60px;
            max-width: 300px;
            left: 0;
            top: 0;
            bottom: 0;
            width: 90%;
            z-index: 2;
            background: rgb(30, 30, 30);
        }

        
    }

    
}


       

        .user-card {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content:space-evenly;
            flex-direction: row;
            align-items: center;
            background:  rgb(225, 225, 225);
            border-radius: 3px;
            font-family: $font-stack;
            color: $darker-text;
            padding: 5px;

            div:nth-child(2){
                flex: 12;
            }

            div:last-child{
                flex: 1;
            }

            .online{
                max-height: 10px;
                max-width: 10px;
                background: green;
                border-radius: 50%;
            }

            div:first-child { 
                
                height: 25px;
                width: 25px;
                overflow: hidden;
                border-radius: 50%;
                
                img {
                    width: 100%;
                }
            }
        }
    

.messaging-container {
    position: relative;
    height: 100%;
    padding: 0px 20px 25px;
    overflow: scroll;
    background:$page-background;
    width: 100%;
    @media (min-width:599px) {
        width: 750px / 1000px * 100%;
    }

    .messages {
        display: flex;
        flex-direction: column;
        font-family: $font-stack;
        justify-content: center;
        
        .individual-message-container:first-child {
            margin-bottom: 10px;
        }

        .individual-message-container {
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            min-height: 40px;
            max-width: 100%;
            animation: messagein .35s ease-in-out 1 forwards;
            

            @keyframes messagein {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            .user-image-container-for-messages{
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 50px;
                min-width: 50px;
                flex: 1;
                border-radius: 50%;
                overflow: hidden;
                box-shadow:0px 1px 5px #888888;

                img {
                    width: 100%;                      
                }
            }

            .message-name-date {

                border-radius: 10px;
                width: 90%;
                min-width: 300px;
                position: relative;
                padding: 8px 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                top:20px;
                box-shadow:0px 1px 5px #888888be;


                @media  (max-width:500px){
                    min-width: 150px;
                    max-width: 100%;
                }

                @media (min-width:1150px) {
                    width: 85%;
                }

                .corner {

                    position: absolute;
                    top: -20px;
                    left: -24px;
                    right: initial;
                    width: 40px;
                    
                    
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }

                .name-date {
                    color: #888888;
                }
                

                .message-text{
                    display: flex;
                    margin-bottom: 10px;
                    justify-content: flex-start;
                    align-items: flex-start;

                    p {
                        width: 85%;
                        margin: 0 auto;
                        word-wrap: break-word;
                    }
                }
            }

            
        }

        
        
        .individual-message-container.myself  .message-name-date{
            background:rgb(215, 225, 255);
            order: 1;
            position: relative;

            .corner {
                position: absolute;
                top: -20px;
                left: initial;
                right: -24px;
                width: 40px;
            }

        }

        .individual-message-container.myself .user-image-container-for-messages {
            order: 2;
        }
    }

    .messages > *+* {
        margin: 15px 0px;
    }

    .message-input-container{
        position: fixed;
        bottom: 0;
        width: 750px / 1000px * 100%;
        right: 0;
        display: flex;
        @media (max-width:599px) {
            width: 100%;
        }

        input, textarea {
            flex: 9;
            color: white;
            height: 40px;
            font-size: 16px;
            border: 2px solid rgb(114, 114, 114);
            border-right: none;
            background: rgb(50, 50, 50);
            padding-left: 5px;
        }

        input:focus, textarea:focus {
            outline: none;
        }

        button {
            flex: 2;
            height: 40px;
            margin: 0;
            border: none;
            background: rgb(105,100,239);
            cursor: pointer;
            color: white;
            font-size: 16px;
        }

        button:hover {
            background: rgb(89, 85, 192);
        }

        button:focus {
            outline: none;
        }
    }
 }

 .open {
    .friends-toggle {
        display: none;
    }
 }
 .close {
    .friends-toggle {
        display: none;
    }
 }

@media (max-width:599px) {
    .open {
        transform: translate(0px, 0px);
        transition:.3s;
        transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        width: 300px;
        z-index: 4;
        .friends-toggle {
            display: flex;
            position: absolute;
            right: -54px;   
            height: 38px;
            width: 38px;
            border-radius: 50%; 
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            cursor: pointer;
            img {
                width: 40px;
            }   
        }
    }

    .close {
        transform: translate(-300px, 0px);
        transition:.3s;
        transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        width: 300px;
        .friends-toggle {
            display: flex;
            position: absolute;
            right: -54px;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            cursor: pointer;
            img {
                width: 40px;
                 
            }   
        }
    }

    .opaque-background {
        width: 100%;
        min-height: 100%;
        position: fixed;
        z-index: 1;
        background: rgba(12, 12, 12, 0.5);
    }

    .show {
        display: initial;
    }

    .hide {
        display: none;
    }
}

