@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500|Montserrat:300,400,800");
button:focus {
  outline: none;
  cursor: pointer; }

.group-chatroom-container {
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7)), url("../Home/media/car-background.svg");
  height: 100%; }

.group-chatroom-container > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  overflow: hidden; }
  @media (max-width: 599px) {
    .group-chatroom-container > div {
      margin-top: 60px; } }
  .group-chatroom-container > div .drawer-container {
    width: 25%;
    padding: 80px 5px 0;
    height: 100%;
    justify-content: center;
    align-items: center; }
    @media (max-width: 599px) {
      .group-chatroom-container > div .drawer-container {
        padding: 10px 5px 0;
        position: fixed;
        margin-top: 60px;
        max-width: 300px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 90%;
        z-index: 2;
        background: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7)), url("../Home/media/car-background.svg"); } }
    .group-chatroom-container > div .drawer-container a {
      text-decoration: none; }
    .group-chatroom-container > div .drawer-container .room-info {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 18px; }

.user-card {
  width: 100%;
  margin: 5px auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background: #e1e1e1;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  color: #111111;
  padding: 5px; }
  .user-card div:nth-child(2) {
    flex: 12; }
  .user-card div:last-child {
    flex: 1; }
  .user-card .online {
    max-height: 10px;
    max-width: 10px;
    background: green;
    border-radius: 50%; }
  .user-card div:first-child {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 50%; }
    .user-card div:first-child img {
      width: 100%; }

.messaging-container {
  position: relative;
  height: 100%;
  padding: 25px 20px 55px 0;
  overflow: scroll;
  background: #f0f0f0;
  width: 100%; }
  @media (min-width: 599px) {
    .messaging-container {
      width: 75%;
      padding: 65px 20px 55px; } }
  .messaging-container .messages {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    justify-content: center; }
    .messaging-container .messages .individual-message-container:first-child {
      margin-bottom: 10px; }
    .messaging-container .messages .individual-message-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      min-height: 40px;
      max-width: 100%;
      animation: messagein .35s ease-in-out 1 forwards; }

@keyframes messagein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      .messaging-container .messages .individual-message-container .user-image-container-for-messages {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50px;
        min-width: 50px;
        flex: 1;
        border-radius: 15%;
        overflow: hidden;
        box-shadow: 0px 1px 5px #888888; }
        .messaging-container .messages .individual-message-container .user-image-container-for-messages img {
          width: 100%; }
      .messaging-container .messages .individual-message-container .message-name-date {
        border-radius: 2px;
        width: 100%;
        min-width: 300px;
        position: relative;
        padding: 8px 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start; }
        @media (max-width: 500px) {
          .messaging-container .messages .individual-message-container .message-name-date {
            min-width: 150px;
            max-width: 100%; } }
        .messaging-container .messages .individual-message-container .message-name-date .corner {
          width: 32px;
          margin: 0 10px; }
        .messaging-container .messages .individual-message-container .message-name-date div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 100%; }
        .messaging-container .messages .individual-message-container .message-name-date .name-date {
          color: #888888;
          display: flex;
          flex-direction: column;
          padding: 0  10px; }
          .messaging-container .messages .individual-message-container .message-name-date .name-date .time-text {
            font-size: 12px;
            text-align: justify;
            position: relative;
            top: 2.5px; }
          .messaging-container .messages .individual-message-container .message-name-date .name-date .name-text {
            font-weight: bolder;
            margin-right: 10px;
            color: black; }
          .messaging-container .messages .individual-message-container .message-name-date .name-date .message-text {
            text-align: left;
            width: 100%;
            word-wrap: break-word;
            color: black;
            padding: 8px 50px 0 0; }
    .messaging-container .messages .individual-message-container.myself .message-name-date {
      order: 1; }
      .messaging-container .messages .individual-message-container.myself .message-name-date .corner {
        width: 32px;
        margin: 0 10px; }
    .messaging-container .messages .individual-message-container.myself .user-image-container-for-messages {
      order: 2; }
  .messaging-container .messages > * + * {
    margin: 5px 0px; }
  .messaging-container .message-input-container {
    position: fixed;
    bottom: 0;
    max-height: 70px;
    width: 75%;
    right: 0;
    display: flex; }
    @media (max-width: 599px) {
      .messaging-container .message-input-container {
        width: 100%; } }
    .messaging-container .message-input-container input {
      flex: 9;
      color: white;
      min-height: 50px;
      font-size: 16px;
      border: 2px solid #727272;
      border-right: none;
      background: linear-gradient(rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.8)), url("../Home/media/car-background.svg");
      background-size: cover;
      background-repeat: no-repeat;
      padding-left: 5px; }
    .messaging-container .message-input-container input:focus {
      outline: none; }
    .messaging-container .message-input-container button {
      flex: 2;
      height: 53px;
      min-height: 50px;
      margin: 0;
      border: none;
      background: #6964ef;
      cursor: pointer;
      color: white;
      font-size: 16px; }
    .messaging-container .message-input-container button:hover {
      background: #5955c0; }
    .messaging-container .message-input-container button:focus {
      outline: none; }

.open .friends-toggle {
  display: none; }

.close .friends-toggle {
  display: none; }

@media (max-width: 599px) {
  .open {
    transform: translate(0px, 0px);
    transition: .3s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    width: 300px;
    z-index: 4; }
    .open .friends-toggle {
      display: flex;
      position: fixed;
      right: -54px;
      height: 38px;
      width: 38px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer; }
      .open .friends-toggle img {
        width: 40px; }
  .close {
    transform: translate(-300px, 0px);
    transition: .3s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    width: 300px; }
    .close .friends-toggle {
      display: flex;
      position: absolute;
      right: -384px;
      height: 38px;
      width: 38px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer; }
      .close .friends-toggle img {
        width: 40px; }
  .opaque-background {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    background: rgba(12, 12, 12, 0.5); }
  .show {
    display: initial; }
  .hide {
    display: none; } }
