@import '../styles/_shared.scss';

button:focus {
    outline: none;
    cursor: pointer;
}

.group-chatroom-container {
    min-height: 100vh;
    min-width: 100%;
    background:linear-gradient(rgba(30,30,30, 0.7), rgba(30, 30, 30, 0.7)) ,url('../Home/media/car-background.svg');
    height: 100%;
}

.group-chatroom-container > div {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    @media (max-width: 599px) {
        margin-top: 60px;
    }


    .drawer-container{
        width: 25%;
        padding: 80px 5px 0;
        height: 100%;
        justify-content: center;
        align-items: center;
        @media (max-width: 599px) {
            padding: 10px 5px 0;
            position: fixed;
            margin-top: 60px;
            max-width: 300px;
            left: 0;
            top: 0;
            bottom: 0;
            width: 90%;
            z-index: 2;
            background:linear-gradient(rgba(30,30,30, 0.7), rgba(30, 30, 30, 0.7)) ,url('../Home/media/car-background.svg');
        }

        a {
            text-decoration: none;
        }

        .room-info {
            color: white;
            font-family: $font-stack;
            font-size: 18px;
        }
        
    }

    
}


       

        .user-card {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content:space-evenly;
            flex-direction: row;
            align-items: center;
            background:  rgb(225, 225, 225);
            border-radius: 3px;
            font-family: $font-stack;
            color: $darker-text;
            padding: 5px;

            div:nth-child(2){
                flex: 12;
            }

            div:last-child{
                flex: 1;
            }

            .online{
                max-height: 10px;
                max-width: 10px;
                background: green;
                border-radius: 50%;
            }

            div:first-child { 
                
                height: 25px;
                width: 25px;
                overflow: hidden;
                border-radius: 50%;
                
                img {
                    width: 100%;
                }
            }
        }
    

.messaging-container {
    position: relative;
    height: 100%;
    padding: 25px 20px 55px 0;
    overflow: scroll;
    background:$page-background;
    width: 100%;
    @media (min-width:599px) {
        width: 750px / 1000px * 100%;
        padding: 65px 20px 55px;
       
    }

    .messages {
        display: flex;
        flex-direction: column;
        font-family: $font-stack;
        justify-content: center;
        
        .individual-message-container:first-child {
            margin-bottom: 10px;
        }

        .individual-message-container {
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            min-height: 40px;
            max-width: 100%;
            animation: messagein .35s ease-in-out 1 forwards;
            

            @keyframes messagein {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            .user-image-container-for-messages{
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 50px;
                min-width: 50px;
                flex: 1;
                border-radius: 15%;
                overflow: hidden;
                box-shadow:0px 1px 5px #888888;

                img {
                    width: 100%;                      
                }
            }

            .message-name-date {

                border-radius: 2px;
                width: 100%;
                min-width: 300px;
                position: relative;
                padding: 8px 10px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                


                @media  (max-width:500px){
                    min-width: 150px;
                    max-width: 100%;
                }

                

                .corner {

                   
                    width: 32px;
                    margin: 0 10px;
                    
                    
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    width: 100%;
                }

                .name-date {
                    color: #888888;
                    display: flex;
                    flex-direction: column;
                    padding: 0  10px;
                    
                    
                   .time-text {
                       font-size: 12px;
                       text-align: justify;
                       position: relative;
                       top: 2.5px;
                   }

                    .name-text{
                        font-weight: bolder;
                        margin-right: 10px;
                        color: black;
                    }
                    .message-text{
                        
                            text-align: left;
                            width: 100%;
                            word-wrap: break-word;
                            color: black;
                            padding: 8px 50px 0 0;
                    
                    }
                }
                

            }

            
        }

        
        
        .individual-message-container.myself  .message-name-date{
            order: 1;
            

            .corner {
                width: 32px;
                margin: 0 10px;
            }

        }

        .individual-message-container.myself .user-image-container-for-messages {
            order: 2;
        }
    }

    .messages > *+* {
        margin: 5px 0px;
    }

    .message-input-container{
        position: fixed;
        bottom: 0;
        max-height: 70px;
        width: 750px / 1000px * 100%;
        right: 0;
        display: flex;
        @media (max-width:599px) {
            width: 100%;
        }

        input {
            flex: 9;
            color: white;
            min-height: 50px;
            font-size: 16px;
            border: 2px solid rgb(114, 114, 114);
            border-right: none;
            background:linear-gradient(rgba(30,30,30, 0.8), rgba(30, 30, 30, 0.8)) ,url('../Home/media/car-background.svg');
            background-size: cover;
            background-repeat: no-repeat;
            padding-left: 5px;
        }

        input:focus {
            outline: none;
        }

        button {
            flex: 2;
            height: 53px;
            min-height: 50px;
            margin: 0;
            border: none;
            background: rgb(105,100,239);
            cursor: pointer;
            color: white;
            font-size: 16px;
        }

        button:hover {
            background: rgb(89, 85, 192);
        }

        button:focus {
            outline: none;
        }
    }
 }

 .open {
    .friends-toggle {
        display: none;
    }
 }
 .close {
    .friends-toggle {
        display: none;
    }
 }

@media (max-width:599px) {
    .open {
        transform: translate(0px, 0px);
        transition:.3s;
        transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        width: 300px;
        z-index: 4;
        .friends-toggle {
            display: flex;
            position: fixed;
            right: -54px;   
            height: 38px;
            width: 38px;
            border-radius: 50%; 
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            cursor: pointer;
            img {
                width: 40px;
            }   
        }
    }

    .close {
        transform: translate(-300px, 0px);
        transition:.3s;
        transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        width: 300px;
        .friends-toggle {
            display: flex;
            position: absolute;
            right: -384px;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            cursor: pointer;
            img {
                width: 40px;
                 
            }   
        }
    }

    .opaque-background {
        width: 100%;
        min-height: 100vh;
        position: fixed;
        z-index: 1;
        background: rgba(12, 12, 12, 0.5);
    }

    .show {
        display: initial;
    }

    .hide {
        display: none;
    }
}



