@import '../styles/_shared.scss';

.pub-profile-container {
    font-family: $font-stack;
    min-height: 100vh;
    background:$page-background;
    width: 100%;
    padding: 60px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
        width: 100%;
        max-width: 1200px;
        padding: 20px 0 0 0;
        background: red;
    }
}